    /*
    Flaticon icon font: Flaticon
    Creation date: 05/08/2017 21:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-days:before { content: "\f100"; }
.flaticon-money:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-web:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-application:before { content: "\f105"; }
.flaticon-shapes:before { content: "\f106"; }
.flaticon-notebook:before { content: "\f107"; }
.flaticon-business-1:before { content: "\f108"; }
.flaticon-car:before { content: "\f109"; }
.flaticon-interface:before { content: "\f10a"; }
.flaticon-search:before { content: "\f10b"; }
.flaticon-sports:before { content: "\f10c"; }
.flaticon-screen:before { content: "\f10d"; }
.flaticon-delete:before { content: "\f10e"; }
.flaticon-business:before { content: "\f10f"; }
    
    $font-Flaticon-days: "\f100";
    $font-Flaticon-money: "\f101";
    $font-Flaticon-arrow: "\f102";
    $font-Flaticon-web: "\f103";
    $font-Flaticon-people: "\f104";
    $font-Flaticon-application: "\f105";
    $font-Flaticon-shapes: "\f106";
    $font-Flaticon-notebook: "\f107";
    $font-Flaticon-business-1: "\f108";
    $font-Flaticon-car: "\f109";
    $font-Flaticon-interface: "\f10a";
    $font-Flaticon-search: "\f10b";
    $font-Flaticon-sports: "\f10c";
    $font-Flaticon-screen: "\f10d";
    $font-Flaticon-delete: "\f10e";
    $font-Flaticon-business: "\f10f";