@media screen and (max-width: 1600px) {
  .fullscreen-bg video {
    width: auto;
    height: 100vh;
  }

  .boxImg img{
    width: auto;
    transform: scale(1.02);
    height: 100vh;
  }
}

@media screen and (max-width: 1400px) {
  .fullscreen-bg video{
    margin: auto;
    transform: scale(2);
  }

  .boxImg img{
    margin: auto;
    transform: scale(2);
  }

  .linked-block {
    font-size: 70px;
  }
}

.logo {
    height: 100%;
    width: 100%;
}

@media (max-width: 1400px), (max-height: 700px) {
  .ui-logo__icon {
      width: 30px;
      height: 30px;
  }

  .ui-logo {
    left: 30px;
    top: 15px;
  }
}

@media screen and (max-width: 1200px) {

  .linked-block {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .ui-logo__icon {
      width: 30px;
      height: 30px;
  }

  .ui-logo {
    top: 15px;
    left: 30px;
  }
}

@media screen and (max-width: 1000px) {

  .linked-block {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {

  .linked-block {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {

  .linked-block {
    font-size: 30px;
  }
}
