@font-face {
    font-family: 'Gotham-Bold';
    src: url('../Gotham_Cyrillic/GothaProBol.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../Gotham_Cyrillic/GothaProReg.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
}

.ui-logo {
    position: fixed;
    z-index: 880;
    left: 30px;
    top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: flat;
    transform-style: flat;
}

a {
    color: #fd0202;
    text-decoration: none;
}

.ui-logo__icon {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
}

.ui-logo__icon svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
svg[Attributes Style] {
    width: 40;
    height: 40;
}
svg {
    transform-origin: 50% 50% 0px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

.main-page-block {
  width: 100%;
  height: 100vh;
  float: left;
}

.fullscreen-bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
}

.fullscreen-bg video {
  width: 100%;
}

.boxImg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  float: left;
}

.boxImg img{
  width: 100%;
  transform: scale(1.02);
}


.linked-block {
  font-size: 74px;
  position: absolute;
  max-width: 800px;
  bottom: 120px;
  left: 90px;
}

.linked-block a {
  text-decoration: none;
  color: black;
  font-family: 'Gotham-Bold';
}

a .screen__title_in-page {
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -.01818182em;
  transition: background-color .28s,color .28s;
}

a p.bordered {
  display: inline-block;
  font-family: 'Gotham-Light';
  font-weight: 700;
  padding: 0 1.5em;
  font-size: 16px;
  line-height: 50px;
  color: red;
  border: 2px solid #fd0202;
  border-radius: 4px;
  -webkit-transition: background-color .28s,color .28s;
  transition: background-color .28s,color .28s;
}

.linked-block a:hover {
  color: red;
}

.linked-block a:hover .bordered{
  color: #f5f5f5;
  background-color: red;
}

::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    width: 15px;
    opacity: 0;
}

@media (max-width: 1740px) {
  .linked-block {
    bottom: 100px;
    left: 90px;
  }
}

@media (max-width: 1400px) {
  .linked-block {
    bottom: 80px;
    left: 90px;
  }

  a p.bordered {
    line-height: 44px;
    padding: 0 1.3em;
  }
}

@media (max-width: 1024px) {
  .linked-block {
    bottom: 60px;
    left: 60px;
  }
  .ui-logo__icon {
      width: 30px;
      height: 30px;
  }
}

@media (max-width: 767px) {
  .linked-block {
    bottom: 35px;
    left: 90px;
  }

  .screen__title_in-page {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: .7em;
    max-width: 360px;
  }

  .mouse {
    display: none;
  }
}

@media (max-width: 1740px), (max-height: 800px) {
.screen__title_in-page {
    font-size: 62px;
}
}

@media (max-width: 1400px), (max-height: 700px){
.screen__title_in-page {
    font-size: 52px;
}
.ui-logo__icon {
    width: 35px;
    height: 35px;
}
}

@media (max-width: 1024px), (max-height: 630px) {
.screen__title_in-page {
    font-size: 42px;
}
}
