.works__category__tiles {
    z-index: 8;
    position: relative;
    top: 102%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 85%;
}

.works__category__tiles__item {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    /*font-size: 30;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.icon {
  margin-top: 20px;
  font-size: 100px;
  color: black;
}

a {
    color: #fd0202;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}


.works__category__tiles__item__cover {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
}

.bg, .bg__image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.works__category__tiles__item__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__category__tiles__item__logo__img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.m-no-touch .works__category__tiles__item:hover .works__category__tiles__item__cover {
 opacity:.3;
 -webkit-transition-duration: 2s;
-webkit-transform: scale(1.1)  ;
}

.m-no-touch .works__category__tiles__item_healthcare:hover .works__category__tiles__item__cover,.m-no-touch .works__category__tiles__item_viagra:hover .works__category__tiles__item__cover {
 opacity:.0.5
}

.works__category__tiles__item_4_1 {
    top: 0;
    right: 50%;
    bottom: 50%;
    left: 0;
}

.works__category__tiles__item_4_2 {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%;
}

.works__category__tiles__item_4_3 {
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0;
}

.works__category__tiles__item_4_4 {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
}

.bg__image {
  background: no-repeat 50% 50%;
  background-image: none;
  background-size: auto auto;
  background-size: cover !important;
}

.main-page-block {
  width: 100%;
  height: 100vh;
  float: left;
}

.fullscreen-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  float: left;
}

.linked-block {
  font-size: 74px;
  position: absolute;
  max-width: 800px;
  bottom: 120px;
  left: 120px;
}

.linked-block a {
  text-decoration: none;
  color: black;
  font-family: 'Gotham-Bold';
}


