@import url(https://fonts.googleapis.com/css?family=Hind);

@font-face {
    font-family: 'Gotham-Bold';
    src: url('gotham-fonts-by-siteeditor/Gotham-Bold(1).ttf')format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container1 {
  font-family: 'Gotham-Bold';
  font-size: 52px;
  letter-spacing: 1px;
  line-height: 90%;
  bottom:10px;
}

.boxImg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  float: left;
}

.boxImg video {
 width: 100%;
}

.js-link span:nth-child(2) {
  font-weight: 600;
} 

@media (max-width: 1740px), (max-height: 800px){
  .container1 {
      font-size: 62px;
  }
}

@media (max-width: 1400px), (max-height: 700px) {
  .container1{
    font-size: 52px;
  }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .nav {
      height: 10vh;
    }

    .nav.nav-fixed-top {
      height: 10vh;
    }

    .screen {
      height: 90vh !important;
    }

    .works__home__categories__item__icon {
     padding: 0px;
    }

    .works__category__tiles {
      height: 90vh !important;
    }

    .works__home__categories__item__text {
      display: none;
    }

    .container {
      height: 100%;
    }

    .nav ul {
      height: 100%;
      justify-content: center;
    }

    .nav ul li {
      width: 15%;
    }
}

@media (max-width: 1024px), (max-height: 630px){
  .container1 {
    font-size: 42px;
  }

}

@media (max-width: 767px){
  .container1 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 21px;
  }

  .works__category__tiles__item__logo {
    padding: 5px;
    min-width: 150px;
  }

  .nav {
    display: none;
  }

  .asd {
    display: none !important;
  }

  .works__category__tiles__item span:nth-child(2) {
    font-size: 14px !important;
  }

  .icon {
    font-size: 50px;
  }

  .screen__content {
    bottom: 13px;
    left: 25px;
    right: 25px;
  }

  .ui-logo {
    top: 15px;
    left: 30px;
  }

  .logo {
    height: 30px;
    width: 30px;
  }

  .works__category__tiles {
    height: 100vh !important;
  }

  .career__cover {
    height: 100vh !important;
  }
}
