@media (max-width: 1880px), (max-height: 800px) {
  .career .career__text h2, .app-content h2 {
    font-size: 62px;
  }

}

@media (max-width: 1740px), (max-height: 800px) {
  .career .career__text h2, .app-content h2 {
    font-size: 62px;
  }
}

@media (max-width: 1540px) {

  .screen__title, .descr h2, .bar h2, .app-content h2 {
    font-size: 50px;
  }

  .descr {
    padding-left: 6%;
  }
}

@media (max-width: 1540px), (max-height: 700px) {
  .career .career__text h2, .app-content h2 {
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  #back {
    width: 90px;
  }

  .screen {
    width: calc(100% - 90px);
    left: 90px;
  }

  .content {
    width: calc(100% - 90px);
    margin-left: 90px;
  }
}

@media (max-width: 1400px), (max-height: 700px) {
  .ui-logo__icon {
      width: 30px;
      height: 30px;
  }

  .ui-logo {
    left: 30px;
    top: 15px;
    padding: 0px;
  }
}

@media (max-width: 1143px) {
  .screen__title, .descr h2, .bar h2, .app-content h2 {
    font-size: 42px;
  }

  .descr {
    padding-left: 5%;
  }

  button.bordered {
    margin: 10px 0;
  }

}

@media (max-width: 1143px), (max-height: 630px) {
  .career .career__text h2, .app-content h2 {
      font-size: 42px;
      margin-bottom: 15px;
  }

  .content ul li {
      padding: 0.5em 0 0.5em 2.5em;
  }
}

@media (max-width: 1024px) {
  .ui-logo__icon {
      width: 30px;
      height: 30px;
  }

  .ui-logo {
    padding: 0px;
    top: 15px;
    left: 30px;
  }

  #back {
    width: 90px;
  }

  .screen {
    width: calc(100% - 90px);
    left: 90px;
  }

  .content {
    width: calc(100% - 90px);
    margin-left: 90px;
  }

  button.bordered {
    width: 120px;
    font-size: 16px;
  }
}

@media (max-width: 887px) {
  .screen__title, .descr h2, .app-content h2, .bar h2 {
    font-size: 25px;
  }

  .career__location {
    font-size: 16px;
    line-height: 20px;
  }

  #back {
    display: none;
  }

  .screen {
    width: 100%;
    left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .text p{
    font-size: 16px;
    line-height: 20px;
  }

  .content ul li {
    font-size: 16px;
    line-height: 20px;
  }

  .app-form {
    margin-left: 0;
    width: 100%;
    font-size: 30px;
  }

  .app-content {
    margin: 45% 10%;
  }



  button:hover{
    color: #ffffff;
    background-color: red;
  }

  form {
    top: 25%;
    left: 10%;
    width: 80%;
  }

  input {
    padding: 15px 0;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
  }

  input[type="submit"] {
    margin: 20px 0;
  }

}

@media (max-width: 767px){
  .app-content h2 {
    font-size: 25px;
  }

  .career__location {
    font-size: 14px;
    line-height: 20px;
  }

  .contImg {
    width: 100%;
    height: 50%;
    margin-left: 0;
  }

  .descr {
    top: 50%;
    margin-top: 20px;
    left: 25px;
    bottom: auto;
    width: calc(100% - 50px);
    height: 50%;
    padding: 0;
  }

  .foo {
    width: 100%;
    height: 50%;
  }

  .bar {
    top: 50%;
    margin-top: 20px;
    left: 25px;
    bottom: auto;
    width: calc(100% - 50px);
    height: 50%;
    padding: 0;
  }

  .centr {
    justify-content: flex-start;
  }

  .text {
    margin-top: 0;
  }

  .text p{
    font-size: 14px;
    line-height: 20px;
  }

  .content ul li {
    font-size: 14px;
    line-height: 20px;
  }

  button.bordered {
    font-size: 14px;
  }

  button:hover{
    color: #ffffff;
    background-color: red;
  }

  form {
    top: 26%;
    left: 10%;
    width: 80%;
    margin: 0;
  }

  input {
    padding: 15px 0;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
  }

  input[type="submit"] {
    margin: 20px 0;
  }

}
