@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham_Cyrillic/GothaProBol.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham_Cyrillic/GothaProReg.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-family: 'Gotham-Bold';
  font-weight: 700;
}

p, li {
  font-family: 'Gotham-Light';
  font-weight: 700;
}

.ui-logo {
    position: fixed;
    z-index: 880;
    left: 30px;
    top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: flat;
    transform-style: flat;
}

a {
    color: #fd0202;
    text-decoration: none;
}

.ui-logo__icon {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    color: #CB363A;
    font-size: 30px !important;
}


#back a.ui-logo {
  height: 30px;
}

#back {
  position: fixed;
  z-index: 601;
  left: 0;
  top: 0;
  width: 90px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: opacity .35s cubic-bezier(.215,.61,.355,1),background-color .175s;
  transition: opacity .35s cubic-bezier(.215,.61,.355,1),background-color .175s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
  border-right: .5px solid rgba(0, 0, 0, .2);
}

#back a {
  color: red;
  position: absolute;
  width: 100%;
  height: 100vh;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.career_back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 29px;
  margin: -14px 0 0 -20px;
}

.career_back svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#back:hover {
  background-color: red;

}

#back:hover a .career_back path{
  fill: #fff;
}

#back:hover a  {
  color: #fff;
  cursor: pointer;
}

#back:hover .ui-logo__icon {
   color: white;
}

.career__cover {
    text-align: center;
    overflow: visible;
}

.screen {
    position: relative;
    height: 100vh;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    width: calc(100% - 90px);
    left: 90px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen__frame {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.screen__frame__inner-wrap {
    display: table-row;
}

.screen__frame__inner {
    vertical-align: bottom;
    display: table-cell;
    padding: 20px 0 70px;
}

.screen__content {
    display: block;
    margin-left: 8%;
    margin-right: 8%;
}

.screen__title {
    color: #fff;
    text-align: left;
    font-family: 'Gotham-Bold';
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -.01818182em;
    font-size: 72px;
    margin-top: -.9em;
    display: block;
    margin-bottom: 0;
}

.career__location {
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    margin-top: 0;
}

.content {
  position: relative;
  overflow: hidden;
  height: 100vh;
  transform: translateZ(0);
  width: calc(100%-90px);
  margin-left: 90px;
}

.contImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: 10px;
}

.descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 100%;
  padding: 0 0 0 7%;
  box-sizing: border-box;
}

.foo {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bar {
  right: 0;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 0 7% 0 7%;
  box-sizing: border-box;
}

.centr {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
}

.descr h2 {
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -.01818182em;
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 20px;
}

.text {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.text p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  opacity: .5;
  font-size: 21px;
  line-height: 30px;
}

ul {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.content ul li {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding: 1em 0 1em 2.5em;
    font-size: 21px;
    line-height: 30px;
    color: rgba(0,0,0,.5);
}

.content ul li:before {
    width: 1.25em;
    height: 2px;
    margin-top: -1px;
    content: '';
}

.content ul li:after, .content ul li:before {
    position: absolute;
    top: 50%;
    background-color: #1a90db;
}

.content ul li:before {
    left: 0;
}

.content ul li:after {
    height: 1.25em;
    width: 2px;
    left: -1px;
    margin-top: -.625em;
    margin-left: .625em;
    content: '';
}

.app-form {
  position: relative;
  margin-left: 90px;
  width: calc(100% - 90px);
  float: left;
  font-size: 72px;
  font-weight: bold;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
}

.app-form h2 {
  font-size: 66px;
  margin-bottom: 0;
}

.app-content {
  text-align: center;
  vertical-align: middle;
}

.app-content button {
  text-decoration: none;
}

button.bordered {
  text-align: center;
  border: 2px solid red;
  border-radius: 4px;
  letter-spacing: 1px;
  width: 190px;
  font-size: 20px;
  color: red;
  margin: 30px auto;
  padding: 20px 15px;
  font-weight: normal;
  background: white;
}

button:hover{
  color: #ffffff;
  background-color: red;
  cursor: pointer;
}

.popup {
  background: white;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  position: absolute;
  height: 100vh;
  z-index: 1000;
}

form {
  position: absolute;
  top: 27%;
  left: 25%;
  width: 60%;
}

input {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 15px 0;
  width: 40%;
  height: auto;
  font-size: 26px;
  text-align: center;
}

input[type="submit"] {
  border: 2px solid red;
  color: red;
  border-radius: 5px;
  margin: 30px 20%;
  padding: 30px 30px;
  background: white;
}

input[type="submit"]:hover {
  color: #ffffff;
  background-color: red;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    width: 15px;
    opacity: 0;
}
