@import url(https://fonts.googleapis.com/css?family=Hind);

@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham_Cyrillic/GothaProBol.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham_Cyrillic/GothaProReg.otf')format("truetype");
    font-style: normal;
    font-weight: normal;
}


.ui-logo {
    position: fixed;
    z-index: 880;
    left: 30px;
    top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: flat;
    transform-style: flat;
}

a {
    color: #fd0202;
    text-decoration: none;
}

.ui-logo__icon {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
}

.logo {
    height: 30px;
    width: 30px;
}

body {
  /*box-sizing: border-box;*/
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Gotham-light', 'Gotham-Bold', sans-serif;
  font-weight: 400;
}

body.nav-fixed-top {
  padding-top: 45px;
}

.works__home__categories__item {
  font-size: 16px;
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  transition: color .35s ease;
}

.works__home__categories__item:hover, .works__home__categories__item:focus, .works__home__categories__item:visited {
  outline: 0;
  color: black;
}

.container {
  max-width: 100% ;
  /*width: 95%;*/
  margin: 0 auto;
}

.screen {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    width: 100%;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen__frame {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.screen__frame__inner-wrap {
    display: table-row;
}

.screen__frame__inner {
    vertical-align: bottom;
    display: table-cell;
    padding: 20px 0 70px;
}

.screen__content {
    display: block;
    max-width: 70%;
    position: absolute;
    bottom: 120px;
    left: 120px;
}

.screen__title {
    color: #000;
    text-align: left;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -.01818182em;
    font-size: 72px;
    margin-top: -.9em;
    display: block;
    margin-bottom: 0;
}

.career__cover .mouse {
    border-color: #000;
}

.screen:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    opacity: .1;
    content: '';
}

.nav {
  height:17vh;
  margin: 0;
  padding: 0px 0;
  background: #ffffff;
  list-style: none;
  text-align: center;
  transition: all .15s ease;
}

.asd {
    /*height: 10.5vh;*/
    display: none;
}

.nav.nav-fixed-top {
  height:17vh;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: #ffffff;
  padding: 0;
}

.nav.nav-fixed-top a {
  color: black;
}
.nav.nav-fixed-top a:visited {
  color: black;
}
.nav.nav-fixed-top a:hover, .nav.nav-fixed-top a:focus {
  outline: 0;
  color: rgba(0, 0, 0, .5);
}
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  width: 19%;
  display: inline-block;
  padding: 0;
}

.works__home__categories__item__icon img {
  height: 55px;
  width: 55px;
}

.works__home__categories__item__icon {
  padding: 10px;
}


.rotator_item, .rotator_p, .rotat_p {
  margin: 0;
}
